@model Model.Author.EditAuthorModel




<div>
    <div>
        <h2>ავტორის რედაქტირება</h2>
    </div>

    <div>
		@using (Html.BeginForm("EditAuthor", "Author", FormMethod.Post, new { enctype = "multipart/form-data" }))
		{
			@Html.HiddenFor(x => x.AuthorId)

			@if (Model.HasImage)
			{
				<div class="col-md-5 finput">
					<img style="height:200px; margin:auto" src="data:image/jpg;base64,@Convert.ToBase64String(Model.ImageArray, 0, Model.ImageArray.Length)"/> 
				</div>
			}


			<div class="col-md-5 finput">
				@Html.LabelFor(x => x.Image, "სურათი")
				<div class="file-input-wrapper">
					@Html.TextBoxFor(x => x.Image, new { @class = "form-control-file", @type = "file", @accept = "image/*", @id = "ImageUpload" })
					<label class="file-input-label" for="ImageUpload">აირჩიეთ ფაილი</label>
				</div>
				<span id="FilenameDisplay"></span> <!-- This will display the selected filename -->
				@Html.ValidationMessageFor(x => x.Image, null, new { @class = "text-danger" })
			</div>

			<script>
				// JavaScript to update the filename display
				document.getElementById("ImageUpload").addEventListener("change", function () {
					var fileInput = document.getElementById("ImageUpload");
					var filename = fileInput.value.split('\\').pop().split('/').pop(); // Extract filename from path
					document.getElementById("FilenameDisplay").textContent = filename; // Update filename display
				});
			</script>

			<div class="col-md-5 finput">
				@Html.LabelFor(x => x.Firstname, "სახელი")
				@Html.TextBoxFor(x => x.Firstname, new { @class = "form-control", @type = "text", @maxLength = "100", @placeholder = "შეიყვანეთ სახელი" })
				@Html.ValidationMessageFor(x => x.Firstname, null, new { @class = "text-danger" })
			</div>

			<div class="col-md-5 finput">
				@Html.LabelFor(x => x.Lastname, "გვარი")
				@Html.TextBoxFor(x => x.Lastname, new { @class = "form-control", @type = "text", @maxLength = "100", @placeholder = "შეიყვანეთ გვარი" })
				@Html.ValidationMessageFor(x => x.Lastname, null, new { @class = "text-danger" })
			</div>

			<div class="col-md-5 finput">
				@Html.LabelFor(x => x.Birthdate, "დაბადების თარიღი")
				@Html.TextBoxFor(x => x.Birthdate, "{0:dd/MM/yyyy}", new { @class = "datepicker", @type = "text", @placeholder = "დღე/თვე/წელი" })
@* 				@Html.TextBoxFor(x => x.Birthdate, new { @class = "form-control", @type = "date", @placeholder = "mm/DD/yyyy" }) *@
				@Html.ValidationMessageFor(x => x.Birthdate, null, new { @class = "text-danger" })
			</div>

			<script>
				@* 				// Initialize datepicker *@
					$('.datepicker').datepicker({
						format: 'dd/mm/yyyy',
						autoclose: true,
						todayHighlight: true,
					});
			</script>

			<div class="col-md-5 finput">
				@Html.LabelFor(x => x.Cv, "რეზიუმე")
				<div class="file-input-wrapper">
					@Html.TextBoxFor(x => x.Cv, new { @class = "form-control-file", @type = "file", @accept = "application/pdf", @id = "CvUpload" })
					<label class="file-input-label" for="CvUpload">აირჩიეთ ფაილი</label>
				</div>
				<span id="CvnameDisplay"></span> <!-- This will display the selected filename -->
				@Html.ValidationMessageFor(x => x.Cv, null, new { @class = "text-danger" })
			</div>

			<script>
				// JavaScript to update the filename display
				document.getElementById("CvUpload").addEventListener("change", function () {
					var fileInput = document.getElementById("CvUpload");
					var filename = fileInput.value.split('\\').pop().split('/').pop(); // Extract filename from path
					document.getElementById("CvnameDisplay").textContent = filename; // Update filename display
				});
			</script>

			@if (Model.HasCv)
			{
				<div class="col-md-5 finput">
					@Html.ActionLink("ავტორის რეზიუმეს ნახვა", "ViewFile", "Home", new {AuthorId = Model.AuthorId, CvToken = Model.CvToken}, new {@target = "_blank"})
				</div>
				<div class="col-md-5 finput">
					@Html.ActionLink("ავტორის რეზიუმეს გადმოწერა", "DownloadFile", "Home", new {AuthorId = Model.AuthorId, CvToken = Model.CvToken})
				</div>
			}
			<div class="col-md-5 finput" style="padding-top: 100px;">
				<input type="submit" class="btn btn-primary" value="განახლება" />
			</div>
		}
    </div>
 </div>