@model LibraryApp.Models.Author.AddAuthorModel


<div>
	<div>
		<h2>Add author form</h2>
	</div>
	<div>
		@using (Html.BeginForm("AddAuthor", "Home", FormMethod.Post, new { enctype = "multipart/form-data"}))
		{
			<div class="col-md-5" finput>
				@Html.LabelFor(x => x.Image)
				@Html.TextBoxFor(x => x.Image, new { @class = "form-control", @type = "file", @accept = "image/*" })
				@Html.ValidationMessageFor(x => x.Image, null, new { @class = "text-danger" })
			</div>

			<div class="col-md-5" finput>
				@Html.LabelFor(x => x.Firstname)
				@Html.TextBoxFor(x => x.Firstname, new { @class = "form-control", @type = "text", @maxLength = "100", @placeholder = "Enter firstname" })
				@Html.ValidationMessageFor(x => x.Firstname, null, new { @class = "text-danger" })
			</div>

			<div class="col-md-5" finput>
				@Html.LabelFor(x => x.Lastname)
				@Html.TextBoxFor(x => x.Lastname, new { @class = "form-control", @type = "text", @maxLength = "100", @placeholder = "Enter lastname" })
				@Html.ValidationMessageFor(x => x.Lastname, null, new { @class = "text-danger" })
			</div>

			<div class="col-md-5" finput>
				@Html.LabelFor(x => x.Birthdate)
				@Html.TextBoxFor(x => x.Birthdate, new { @class = "form-control", @type = "date", @placeholder = "DD/mm/yyyy" })
				@Html.ValidationMessageFor(x => x.Birthdate, null, new { @class = "text-danger"})
			</div>

			<div class="col-md-5" finput>
				@Html.LabelFor(x => x.Cv)
				@Html.TextBoxFor(x => x.Cv, new { @class = "form-control", @type = "file", @accept = "application/pdf" })
				@Html.ValidationMessageFor(x => x.Cv, null, new { @class = "text-danger" })
			</div>

			<div class="col-md-5">
				<input type="submit" class="btn btn-primary" value="Save"/>
			</div>
		}
	</div>
</div>