
@model LibraryApp.Models.Book.AddBookModel


<div>
	<div>
		<h2>Add book form</h2>
	</div>
	<div>
		@using (Html.BeginForm("AddBook", "Home", FormMethod.Post))
		{
			<div class="col-md-5" finput>
				@Html.LabelFor(x => x.Name)
				@Html.TextBoxFor(x => x.Name, new { @class = "form-control", @type = "text", @maxLength = "100", @placeholder = "Enter name of the book" })
				@Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
			</div>

			<div class="col-md-5" finput>
				@Html.LabelFor(x => x.Year)
				@Html.TextBoxFor(x => x.Year, new { @class = "form-control", @type = "number", @maxLength = "10", @placeholder = "Enter publishing year" })
				@Html.ValidationMessageFor(x => x.Year, null, new { @class = "text-danger" })
			</div>

			<div class="col-md-5" finput>
				<label for="Genre_Name">Genre</label> @*უკეთესი ვარიანტები არის ამის სახელის შეცვლის?*@
				@Html.TextBoxFor(x => x.Genre.Name, new { @class = "form-control", @type = "text", @maxLength = "100", @placeholder = "Enter genre" })
				@Html.ValidationMessageFor(x => x.Genre.Name, null, new { @class = "text-danger" })
			</div>


			<div class="col-md-5">
				<input type="submit" class="btn btn-primary" value="Save" />
			</div>
		}
	</div>
</div>
