
@model LibraryApp.Models.Book.AddBookModel

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" integrity="sha512-yVvxUQV0QESBt1SyZbNJMAwyKvFTLMyXSyBHDO4BG5t7k/Lw34tyqlSDlKIrIENIzCl+RVUNjmCPG+V/GMesRw==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js" integrity="sha512-rMGGF4wg1R73ehtnxXBt5mbUfN9JUJwbk21KMlnLZDJh7BkPmeovBuddZCENJddHYYMkCh9hPFnPmS9sspki8g==" crossorigin="anonymous"></script>




<div>
	<div>
		<h2>Add book form</h2>
	</div>

	<div>
		@using (Html.BeginForm("AddBook", "Home", FormMethod.Post))
		{

			<div class="col-md-5" finput>
				@Html.LabelFor(x => x.Name)
				@Html.TextBoxFor(x => x.Name, new { @class = "form-control", @type = "text", @maxLength = "100", @placeholder = "Enter name of the book" })
				@Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
			</div>

			<div class="col-md-5" finput>
				@Html.LabelFor(x => x.Year)
				@Html.TextBoxFor(x => x.Year, new { @class = "form-control", @type = "number", @maxLength = "10", @placeholder = "Enter publishing year" })
				@Html.ValidationMessageFor(x => x.Year, null, new { @class = "text-danger" })
			</div>

			<div>
				<div class="col-md-5" finput>
					<br />
					<label for="SelectedGenreIds">Genre</label>
					@Html.ListBoxFor(x => x.SelectedGenreIds, (IEnumerable<SelectListItem>)ViewBag.GenreSelectList, new { @class = "chosen-select form-control", @data_placeholder = "Choose genre" })
					@Html.ValidationMessageFor(x => x.SelectedGenreIds, null, new { @class = "text-danger" })
				</div>
				<br />
			</div>

			<div>
				<div class="col-md-5" finput>
					<br />
					<label for="SelectedAuthorIds">Author</label>
					@Html.ListBoxFor(x => x.SelectedAuthorIds, (IEnumerable<SelectListItem>)ViewBag.AuthorSelectList, new { @class = "chosen-select form-control", @data_placeholder = "Choose genre" })
					@Html.ValidationMessageFor(x => x.SelectedAuthorIds, null, new { @class = "text-danger" })
				</div>
				<br />
			</div>


			<div class="col-md-5">
				<input type="submit" class="btn btn-primary" value="Save" />
			</div>
		}
	</div>
</div>


<script>
	let choosen = $(".chosen-select").chosen({ width: "500px" });

	$('#myForm').on('submit', function (e) {
		e.preventDefault();
		const form = e.target;
		const milestones = $(form.elements.milestone).val();
		if (milestones.length > 1) alert('error');
		else alert('success')
	})
</script>