@model LibraryApp.Models.Book.BookViewModel
@using X.PagedList;
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Fluent
@using X.PagedList.Web.Common

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .filters {
        margin-left:20px;
    }
    .filterBtn {
        margin-top:24px;
    }
</style>

<div>
    <div>
        <h2>Books</h2>
    </div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <div class="d-flex">
            <div class="col-md-2">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            </div>
            <div class="col-md-2 filters">
                @Html.LabelFor(x => x.Firstname)
                @Html.TextBoxFor(x => x.Firstname, new { @class = "form-control" })
            </div>
            <div class="col-md-2 filters">
                @Html.LabelFor(x => x.Lastname)
                @Html.TextBoxFor(x => x.Lastname, new { @class = "form-control" })
            </div>
            <div class="col-md-2 filters filterBtn">
                <input type="submit" class="btn btn-primary" value="Search" />
            </div>
        </div>
    }
    <br>
    <div>
        <a type="button" class="btn btn-primary" href="@Url.Action("AddBook", "Home")">Add new item</a>
    </div>
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Img</th>
                <th>Id</th>
                <th>Name</th>
                <th>Publish Year</th>
                <th>Genre</th>
                <th>Authors</th>
                <th></th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.Books)
            {
                <tr>
                    <td>
                        
                </td>
                    <td>@book.BookId</td>
                    <td>@book.Name</td>
                    <td>@book.Year</td>
                    <td>
                        @foreach (var genre in book.Genres)
                        {
                            <span>
                                @genre.Name 
                                @if (genre != book.Genres.LastOrDefault())
                                {
                                    <text>,</text>
                                }
                            </span>
                        }

                    </td>
                    <td>
                        @foreach (var author in book.Authors)
                        {
                            <span>
                                @author.Firstname @author.Lastname
                                @if (author != book.Authors.LastOrDefault())
                                {
                                    <text>,</text>
                                }
                            </span>
                        }
                    </td>
                    <td>
                        <a class="btn btn-primary" href="@Url.Action("EditBook", "Home", new { bookId = book.BookId} )">Edit</a>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-bookid="@book.BookId" onclick="tryRemoveBook(this)">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="d-flex" style="justify-content: space-between;">
        <div class="registry-paging jacob">
            @Html.PagedListPager(Model.Books, page => Url.Action("Index", new { Model.Name, Model.Lastname, page }), new PagedListRenderOptions { LiElementClasses = new string[] { "page-item" }, PageClasses = new string[] { "page-link" }, ActiveLiElementClass = "active-link-cl" })
        </div>
        <div style="margin-top: 50px; margin-right: 35px;">
            <h5>სულ : @Model.Total</h5>
        </div>
    </div>

</div>



<!-- data-bs-toggle="modal" data-bs-target="#deleteModal -->
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Book</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you want to delete book?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" onclick="removeBook()" id="removeBook">Yes</button>
            </div>
        </div>
    </div>
</div>

<script>

    let removeBookId = 0;
    let currentUrl = window.location.href;

    let tryRemoveBook = (element) => {
        removeBookId = element.dataset.bookid;
        let deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'), {
            keyboard: false
        })
        deleteModal.show();
    };
    let removeBook = () => {
        if (removeBookId == 0) {
            alert("Can't remove item");
            return;
        }

        let newUrl = '@Url.Action("RemoveBook", "Home")' + '?bookId=' + removeBookId + '&returnUrl=' + encodeURIComponent(currentUrl);
        window.location.href = newUrl;
    }

</script>